:root {
	--accent-color: #2196f3;
	--second-logo-color: #000000;
	--main-color: #ffffff;
	--second-color: #212121;
	--link-color: #ffffff96;
	--text-color: #757575;
	--second-bg-color: #f5f4fa;
	--main-bg-color: #e5e5e5;
	--foot-bg-color: #2f303a;
	--btn-hover-color: #188ce8;
	--stroke-color: #eeeeee;
	--line-color: #ececec;
}

body {
	font-family: Roboto, sans-serif;
	background-color: var(--main-color);
	color: var(--text-color);
}
ul {
	list-style: none;
}
/*-------Верхня лінія--------*/
.logo {
	font-family: Raleway;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.38;
	letter-spacing: 0.03em;
	text-decoration: inherit;
	color: var(--accent-color);
}
span.head {
	color: var(--second-logo-color);
}
.site-nav {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--second-color);
	text-decoration: inherit;
}
.site-nav:hover,
.site-nav:focus {
	color: var(--accent-color);
}
.menu-nav .site-nav.current {
	color: var(--accent-color);
}
.link-mail {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: inherit;
	color: var(--text-color);
}
.link-mail:hover,
.link-mail:focus {
	color: var(--accent-color);
}
.link-tel {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: inherit;
	color: var(--text-color);
}
.link-tel:hover,
.link-tel:focus {
	color: var(--accent-color);
}
/* Шапка */
.hero {
	background-color: var(--foot-bg-color);
}
.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--main-color);
}
button {
	cursor: pointer;
}
.hero-btn {
	font-family: inherit;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--main-color);
	background-color: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
	background-color: var(--btn-hover-color);
}
/*--------Особливості--------*/
.features-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--second-color);
}
.features-text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--text-color);
}
/*-------Чим ми займаємось-------*/
.about-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--second-color);
}
/*--------Наша команда--------*/
.team {
	background-color: var(--second-bg-color);
}
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--second-color);
}
.team-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--second-color);
}
.team-position {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--text-color);
}

/* Підвал */
footer {
	background-color: var(--foot-bg-color);
}
span.foot {
	color: var(--main-color);
}
.foot-link {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration: inherit;
	color: var(--main-color);
}
.foot-mail {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration: inherit;
	color: var(--link-color);
}
.foot-tel {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration: inherit;
	color: var(--link-color);
}
.foot-link:hover,
.foot-link:focus,
.foot-mail:hover,
.foot-tel:hover,
.foot-mail:focus,
.foot-tel:focus {
	color: var(--accent-color);
}
/*------------Портфоліо------------*/
.filter-btn {
	font-family: inherit;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	background: var(--second-bg-color);
	color: var(--second-color);
}

.filter-btn:hover,
.filter-btn:focus {
	background: var(--accent-color);
	color: var(--main-color);
}
.link {
	text-decoration: none;
}
.project-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--second-color);
}
.site-title {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	text-decoration: inherit;
	color: var(--text-color);
}
